{% load static %}

<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">   
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" /> 
<link id="switcher" href="{% static 'css/theme-color/default-theme.css' %}" rel="stylesheet">     

<link href="{% static 'css/style.css' %}" rel="stylesheet">    

<link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>    
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>