{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Property Details</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">HOME</a>
                        </li>
                        <li class="active">APARTMENT TITLE</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Properties  -->
<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <!-- Start properties content body -->
                    <div class="aa-properties-details">
                        <div class="aa-properties-details-img">
                            <img src="{% static 'img/slider/1.jpg' %}" alt="img">
                            <img src="{% static 'img/slider/2.jpg' %}" alt="img">
                            <img src="{% static 'img/slider/3.jpg' %}" alt="img">
                        </div>
                        <br>
                        <div class="aa-properties-info">
                            <form method="POST" action="" id="" class="">
                                <div class="form-control">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <div class="aa-contact-area">
                                          <div class="aa-contact-top">
                                          <!--
                                            {{ property_form.property_title | as_crispy_field }}
                                            {{ property_form.property_price | as_crispy_field }}
                                            {{ property_form.property_description | as_crispy_field }}
                                            {{ property_form.property_about | as_crispy_field }}
                                            {{ property_form.property_location | as_crispy_field }}
                                            {{ property_form.property_condition | as_crispy_field }}
                                            {{ property_form.property_status | as_crispy_field}}
                                            {{ property_form.property_square_meters | as_crispy_field }}
                                            {{ property_form.property_posted_by | as_crispy_field }}
                                            {{ property_form.property_pic1 | as_crispy_field }}
                                            {{ property_form.property_pic2 | as_crispy_field }}
                                            {{ property_form.property_pic3 | as_crispy_field }}
                                            {{ property_form.property_pic4 | as_crispy_field }}
                                            {{ property_form.property_pic5 | as_crispy_field }}
                                            {{ property_form.property_pic6 | as_crispy_field }}
                                            {{ property_form.property_pic7 | as_crispy_field }}
                                            {{ property_form.property_pic8 | as_crispy_field }}
                                            {{ property_form.kitchen | as_crispy_field }}
                                            {{ property_form.air_condition | as_crispy_field }}
                                            {{ property_form.balcony | as_crispy_field }}
                                            {{ property_form.gym | as_crispy_field }}
                                            {{ property_form.garden | as_crispy_field }}
                                            {{ property_form.cctv | as_crispy_field }}
                                            {{ property_form.furnished | as_crispy_field }}
                                            {{ property_form.parking | as_crispy_field }}
                                            -->
                                            {% form form=property_form %}{% endform %}
                                            <button type="submit" class="btn btn-primary">Sign in</button>
                                          </div>
                                        </div>
                                      <div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                            </form>
                            <h4>Propery Features</h4>
                            <ul>
                                <li>4 Bedroom</li>
                                <li>3 Baths</li>
                                <li>Kitchen</li>
                                <li>Air Condition</li>
                                <li>Belcony</li>
                                <li>Gym</li>
                                <li>Garden</li>
                                <li>CCTV</li>
                                <li>Children Play Ground</li>
                                <li>Comunity Center</li>
                                <li>Security System</li>
                            </ul>
                        </div>
                        <!-- Properties social share -->
                        <div class="aa-properties-social">
                            <ul>
                                <li>Share</li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Nearby properties -->
                        <div class="aa-nearby-properties">
                            <div class="aa-title">
                                <h2>Nearby Properties</h2>
                                <span></span>
                            </div>
                            <div class="aa-nearby-properties-area">
                                <div class="row">
                                    <div class="col-md-6">
                                        <article class="aa-properties-item">
                                            <a class="aa-properties-item-img" href="#">
                                                <img alt="img" src="{% static 'img/item/1.jpg' %}">
                                            </a>
                                            <div class="aa-tag for-sale">
                                                For Sale
                                            </div>
                                            
                                            <div class="aa-properties-item-content">
                                                <div class="aa-properties-info">
                                                    <span>5 Rooms</span>
                                                    <span>2 Beds</span>
                                                    <span>3 Baths</span>
                                                    <span>1100 SQ FT</span>
                                                </div>
                                                <div class="aa-properties-about">
                                                    <h3>
                                                        <a href="#">Appartment Title</a>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                                                </div>
                                                <div class="aa-properties-detial">
                                                    <span class="aa-price">
                                                        $35000
                                                    </span>
                                                    <a class="aa-secondary-btn" href="#">View Details</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article class="aa-properties-item">
                                            <a class="aa-properties-item-img" href="#">
                                                <img alt="img" src="{% static 'img/item/2.jpg' %}">
                                            </a>
                                            <div class="aa-tag for-sale">
                                                For Sale
                                            </div>
                                            <div class="aa-properties-item-content">
                                                <div class="aa-properties-info">
                                                    <span>5 Rooms</span>
                                                    <span>2 Beds</span>
                                                    <span>3 Baths</span>
                                                    <span>1100 SQ FT</span>
                                                </div>
                                                <div class="aa-properties-about">
                                                    <h3>
                                                        <a href="#">Appartment Title</a>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                                                </div>
                                                <div class="aa-properties-detial">
                                                    <span class="aa-price">
                                                        $35000
                                                    </span>
                                                    <a class="aa-secondary-btn" href="#">View Details</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start properties sidebar -->
            <div class="col-md-4">
                <aside class="aa-properties-sidebar">
                    <!-- Start Single properties sidebar -->
                    <div class="aa-properties-single-sidebar">
                        <h2 class="lead">Property Owner</h2>
                        <h6 class="lead"> Posting as {{ user.first_name }}</h6>
                        <h6 class="lead">Registered Date</h6>
                        <h6 class="lead">Contact</h6>
                        <h2 class="lead">Propery Location</h2>
                        <h6 class="lead">Location</h6>
                        <h2 class="lead">Propery Condition</h2>
                        <h6 class="lead">Property Status</h6>
                        <h2 class="lead">For Sale, Rent, Sold</h2>
                        <h6 class="lead">Condition (Furnished?)</h6>
                        <h2 class="lead">Post Details</h2>
                        <h6 class="lead">Date Posted</h6>
                        <!-- Start Single properties sidebar -->
                        <div class="aa-properties-single-sidebar">
                            <h3>Safety Tips</h3>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{% static 'img/item/1.jpg' %}" alt="img">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="#">Safety Tips</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <span>$65000</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
