{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}    
{{ property_form.media }}
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Property Details</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">HOME</a>
                        </li>
                        <li class="active">ADD PROPERTY</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Properties  -->
<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <!-- Start properties content body -->
                    <div class="aa-properties-details">
                        <br>
                        <h2>Fill in the property information</h2>
                        <hr>
                        <div class="aa-properties-info">
                            <form method="POST" action="{% url 'add_property' %}" id="" class="" enctype="multipart/form-data" id="property_form">
                                    <div class="col-md-12">
                                            {% csrf_token %}
                                            <h4> Property created on: {{ property_form.property_post_date }}</h4>
                                            {{ property_form.property_owner }}
                                            <div class="row">
                                                <div class="col-sm-8">{{ property_form.property_title|as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_price|as_crispy_field }}</div>
                                                <div class="col-sm-12">{{ property_form.property_description | as_crispy_field }}</div>
                                                <div class="col-sm-12">{{ property_form.property_about | as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <h4>Property Information</h4>
                                                <div class="col-sm-8">{{ property_form.property_location | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_condition | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_status | as_crispy_field}}</div>
                                                <div class="col-sm-4">{{ property_form.property_square_meters | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_posted_by | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_rooms | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_bathroom | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_type | as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <h4>Properties Pictures</h4>
                                                <div class="col-sm-4">{{ property_form.property_pic1 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic2 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic3 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic4 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic5 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic6 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic7 | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.property_pic8 | as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <h4>Properties Features</h4>
                                                <div class="col-sm-4">{{ property_form.air_condition | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.garden | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.gym | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.balcony | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.cctv | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.parking | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.furnished | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.playground | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.kitchen | as_crispy_field }}</div>
                                                
                                            </div>
                                            <div class="row">
                                                <h4>Nearby Amenities</h4>
                                                <div class="col-sm-4">{{ property_form.school | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.hospital | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.borehole | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.bus_stop | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.internet_service_provider | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.bank | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.mall | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.shops | as_crispy_field }}</div>
                                                <div class="col-sm-4">{{ property_form.main_road | as_crispy_field }}</div>
                                                
                                            </div>
                                            <button type="submit" class="btn text-light btn-lg">List Property</button>
                                      <div>
                                    </div>
                                  </div>
                            </form>
                        </div>
                        <!-- Nearby properties -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        let autocomplete;
        function initMap() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('id_property_location'),
                {
                    types: ['establishment'],
                    componentRestrictions: {},
                    fields: ['geometry', 'name']
                }
            );
        }
    </script>
    <script async="false"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWVR_xo7GaYDBJ6nKIIatjTtqds6aeVbA&libraries=places&callback=initMap">
    </script>
    
    {% endblock content %}
