{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Agents Registered at Kala Homes</h2>
            <ol class="breadcrumb">
            <li><a href="#">Home</a></li>            
            <li class="active">All Agents</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <h2 class="text-center">Avatar List</h2><hr>
    {% for profile in profiles %}
        <div class="container">
            <ul class="w3-li w3-card-4">
                <li class="w3-bar rounded ">
                <img src="{{ profile.profile_picture.url }}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                    <div class="w3-bar-item">
                            <span class="w3-large">{{ profile.user.first_name }} {{ profile.user.last_name }}</span><br><hr>
                            <li class="list-group-item">Email <span class="badge">{{ profile.user.email }}</span></li>
                            <li class="list-group-item">Phone <span class="badge">12</span></li>
                            <li class="list-group-item">Last Time Active <span class="badge">12</span></li>
                            <li class="list-group-item">Date Registered <span class="badge">12</span></li>
                            <li class="list-group-item">Ratings <span class="badge">12</span></li>
                    </div>
                </li>
                <hr>
            </ul>
    </div>
    {% endfor %}
  
{% endblock content %}