{% extends "base.html" %}

{% block content %}
    <section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>FAQS</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="active">FAQS</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<div class="container">
    <h2 class="text-center">Frequently Asked Questions and Answers</h2><hr>
        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-light w3-left-align well">Accordion</button>
        <div id="Demo1" class="w3-hide w3-animate-zoom">
            <p class="w3-button w3-block w3-left-align well well-sm">Link 1</p>
        </div>
</div>

<script>
    function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
    }
</script>
</div>
{% endblock content %}