{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section id="aa-slider">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="{% static 'img/slider/1.png' %}" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <h2 class="aa-top-slider-title">{% trans "BUYRENTGLOBAL" %}</h2>
                    <p class="aa-top-slider-location">
                        <i class="fa fa-map-marker"></i>{% trans "Global Interactions, Local Matches!" %}
                    </p>
                    <p class="aa-top-slider-price">{% trans "CONNECTING REALTORS" %}</p>
                    <a href="{% url 'properties' %}" class="aa-top-slider-btn">{% trans "Check out our listings!" %}
                        <span class="fa fa-angle-double-right"></span>
                    </a>
                </div>
                <!-- / Top slider content -->
            </div>
        </div>
    </div>
</section>
<!-- End slider  -->
<!-- Advance Search -->
<section id="aa-advance-search">
    <div class="container">
        <div class="aa-advance-search-area">
            <div class="form">
                <div class="aa-advance-search-top">
                    <div class="row">
                        <form action="{% url 'property_search' %}" method="GET">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <div class="aa-single-advance-search">
                                <input type="text" placeholder="{% trans 'Type Your Location' %}" name="location" id="location">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <select name="rent_or_sale">
                                    <option>For Rent</option>
                                    <option>For Sale</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <select name="property_type">
                                    <option>House</option>
                                    <option>Apartment</option>
                                    <option>Commercial</option>
                                    <option>Land</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <input class="aa-search-btn" type="submit" value="Search">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Advance Search -->
<!-- About us -->
<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="{% static 'img/about-us.jpg' %}" alt="image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>{% trans "About Us" %}</h2>
                                    <span></span>
                                </div>
                                <p>This site is exclusively created to connect all form of Real Estate sector interested parties across the
                                    world i.e Landlords, Tenants, Real Estate agents, Real Estate Developers to help in <strong> Marketing their
                                    Properties For FREE </strong> and well based property search engine for Property Buyers and Tenants to
                                    directly interact at ease.</p>
                                <ul>
                                    <li>BuyRentGlobal.Com does not associate in brokerage or any form of transaction of the properties
                                        listings by owners or real estate agents.</li>
                                    <li>All information contact listed at BuyRentGlobal.Com is to
                                        help the Property Owner or Real Estate Agent to do business at ease and efficiency./li>
                                    <li>What we provide is Local and International Market advert for the properties listed at our website.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / About us -->
<!-- Latest property -->
<section id="aa-latest-property">
    <div class="container">
        <div class="aa-latest-property-area">
            <div class="aa-title">
                <h2>Latest Properties</h2>
                <span></span>
                <p>Check out our latest properties!</p>
            </div>
            <div class="aa-latest-properties-content">
                <div class="row">
                    {% for property in latest_properties %}
                    <div class="col-md-4">
                        <article class="aa-properties-item">
                            <a href="#" class="aa-properties-item-img">
                                <img
                                    src="{{ property.property_pic1.url }}"
                                    alt="img"
                                    width="100"
                                    height="300"
                                >
                            </a>
                            {% if property.property_status == "For Rent" %}
                            <div class="aa-tag for-rent">
                                For Rent
                            </div>
                            {% elif property.property_status == "For Sale" %}
                            <div class="aa-tag for-sale">
                                For Sale
                            </div>
                            {% elif property.property_status == "Sold Out" %}
                            <div class="aa-tag sold-out">
                                Sold Out
                            </div>
                            {% endif %}
                            <div class="aa-properties-item-content">
                                <div class="aa-properties-info">
                                    <span>
                                        {% if property.property_rooms > 0 %}
                                            <i class="fa fa-bed" aria-hidden="true"></i> : {{ property.property_rooms }} Rooms
                                        {% endif %}
                                    </span>
                                    <span><span class="iconify" data-icon="fa:shower" data-inline="false"></span> : {{ my_property.property_bathroom }} Baths</span>
                                    <span><span class="iconify" data-icon="emojione-monotone:triangular-ruler" data-inline="false"></span> : {{ property.property_square_meters }} SQR MTR</span>
                                </div>
                                <div class="aa-properties-about">
                                    <h3>
                                        <a href="{% url 'property_details' property.id %}"> {{ property.property_title }}</a>
                                    </h3>
                                    <p>{{ property.property_description }}</p>
                                </div>
                                <div class="aa-properties-detial">
                                    <span class="aa-price">
                                        KES: {{ property.property_price }}
                                    </span>
                                    <a href="{% url 'property_details' property.id %}" class="aa-secondary-btn">View Details</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- / Latest property -->
        <!-- Service section -->
        <section id="aa-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-service-area">
                            <div class="aa-title">
                                <h2>{% trans "Our Services" %}</h2>
                                <span></span>
                                <p>Below are the services offered by BuyRentGlobal.Com</p>
                            </div>
                            <!-- service content -->
                            <div class="aa-service-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-home"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Property Sale</a>
                                                </h4>
                                                <p>Quickly post your property and get a match that is close to you!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Property Rent</a>
                                                </h4>
                                                <p>Looking to rent out your property? BuyRentGlobal has you covered!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-crosshairs"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Property Development</a>
                                                </h4>
                                                <p>Real Estate Developers also have a special place as we allow them to post continuously developed properties like apartments and homes.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-bar-chart-o"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Client Approach</a>
                                                </h4>
                                                <p>BuyRentGlobal offers client approach by giving property owners the privelege of knowing which client is a potential match for their properties.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Service section -->
        <!-- / Client brand -->
        <!-- <section id="aa-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>{% trans "Get your inspiration for the next property listing or purchase" %}</h2>
              <span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe magni, est harum repellendus. Accusantium, nostrum!</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt="img"></a>
                      <span class="aa-date-tag">15 April, 16</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                      <div class="aa-blog-single-bottom">
                        <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                        <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                      </div>
                    </div>
                   
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt="img"></a>
                      <span class="aa-date-tag">15 April, 16</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                      <div class="aa-blog-single-bottom">
                        <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                        <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                      </div>
                    </div>                   
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt="img"></a>
                      <span class="aa-date-tag">15 April, 16</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                      <div class="aa-blog-single-bottom">
                        <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                        <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                      </div>
                    </div>                   
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <div class="aa-title">
        <h2>{% trans "Frequently Asked Questions" %}</h2>
        <span></span>
            <p>Below are the FAQs offered by BuyRentGlobal.Com</p>
        </div>
    <section id="aa-latest-blog">
        
        <div class="container ">
        <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <p class="ing">Q: How much does it cost to list a Proprty in BuyRentGlobal.Com?</p>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>-Listing a Property in BuyRentGlobal is FREE.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <p class="ing">Q: What’s are the Benefits of Listing a Property with BuyRentGloabal.Com?</p>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                    -Get direct Contact with a client with no third Party intervention<br/>
                    -Connecting you directly with Diasporas and Locals who are looking to invest.<br/>
                    -Sharing Info on which Clients might be interested on the Property Listed.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <p class="ing">Q: What Type of Properties are allowed to be Listed in BuyRentGlobal.com?</p>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>-only Properties allowed are Land and Housing. Which the website has been programmed to
isolet any irrelevant listing.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <p class="ing">Q: Does BuyRentGlobal.Com take any Part in any Transactions?</p>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>-NO! BuyRentGlobal.Com is a platform established to solve the problems on easy find both the
Agent/Owner with the Clients to contact directly and Agree on their on terms..</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <p class="ing">Q: Is the Information Listed of Properties Credible?</p>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>-Most of it is. We try our best to eraducate fake Agents i.e By ranking our Agents based on the
reviews they get from the clients they have handled.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <p class="ing">Q: How can an Interested Buyer/Tenant Get First Hand Result/Info of an Acquired same taste of
Property which he/she might be interested in?</p>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>-By registering with BuyRentGlobal.Com to get an email of any recent property listed of his/her
taste or Getting a call from an Agent who might have he/she is looking for.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                 <h4 class="panel-title">
                    <p class="ing">Q: Benefits of a Tenant and a Buyer?</p>
              </h4>

            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                    -Getting direct Contanct of the Property Lister.<br/>
                    -Getting direct information of the property listed.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>
    </section>
        
    <style>
        .ing {
            cursor: pointer;
        }
    </style>
    <script>
        let autocomplete;
        function initMap() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('location'),
                {
                    types: ['geocode'],
                    componentRestrictions: {},
                    fields: ['name', 'cities']
                }
            );
        }
    </script>
    <script async="false"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWVR_xo7GaYDBJ6nKIIatjTtqds6aeVbA&libraries=places&callback=initMap">
    </script>
{% endblock content %}
