{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section id="aa-slider">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="{% static 'img/slider/1.png' %}" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <h2 class="aa-top-slider-title">{% trans "BUYRENTGLOBAL" %}</h2>
                    <p class="aa-top-slider-location">
                        <i class="fa fa-map-marker"></i>{% trans "Global Interactions, Local Matches!" %}
                    </p>
                    <p class="aa-top-slider-price">{% trans "CONNECTING REALTORS" %}</p>
                    <a href="{% url 'properties' %}" class="aa-top-slider-btn">{% trans "Check out our listings!" %}
                        <span class="fa fa-angle-double-right"></span>
                    </a>
                </div>
                <!-- / Top slider content -->
            </div>
        </div>
    </div>
</section>
<!-- End slider  -->
<!-- Advance Search -->
<section id="aa-advance-search">
    <div class="container">
        <div class="aa-advance-search-area">
            <div class="form">
                <div class="aa-advance-search-top">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="aa-single-advance-search">
                                <p class="lead">Quickly search to see our listings!</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="aa-single-advance-search">
                                <input type="text" placeholder="{% trans 'Type Your Location' %}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <select>
                                    <option value="0" selected>{% trans "Category" %}</option>
                                    <option value="1">{% trans "For Rent" %}</option>
                                    <option value="2">{% trans "For Sale" %}</option>
                                    <option value="3">{% trans "All" %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <input class="aa-search-btn" type="submit" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Advance Search -->
<!-- About us -->
<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="{% static 'img/about-us.jpg' %}" alt="image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>{% trans "About Us" %}</h2>
                                    <span></span>
                                </div>
                                <p>This site is exclusively created to connect all form of Real Estate sector interested parties across the
                                    world i.e Landlords, Tenants, Real Estate agents, Real Estate Developers to help in <strong> Marketing their
                                    Properties For FREE </strong> and well based property search engine for Property Buyers and Tenants to
                                    directly interact at ease.</p>
                                <ul>
                                    <li>BuyRentGlobal.Com does not associate in brokerage or any form of transaction of the properties
                                        listings by owners or real estate agents.</li>
                                    <li>All information contact listed at BuyRentGlobal.Com is to
                                        help the Property Owner or Real Estate Agent to do business at ease and efficiency./li>
                                    <li>What we provide is Local and International Market advert for the properties listed at our website.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / About us -->
<!-- Latest property -->
<section id="aa-latest-property">
    <div class="container">
        <div class="aa-latest-property-area">
            <div class="aa-title">
                <h2>Latest Properties</h2>
                <span></span>
                <p>Check out our latest properties!</p>
            </div>
            <div class="aa-latest-properties-content">
                <div class="row">
                    {% for property in latest_properties %}
                    <div class="col-md-4">
                        <article class="aa-properties-item">
                            <a href="#" class="aa-properties-item-img">
                                <img
                                    src="{{ property.property_pic1.url }}"
                                    alt="img"
                                    width="100"
                                    height="300"
                                >
                            </a>
                            {% if property.property_status == "For Rent" %}
                            <div class="aa-tag for-rent">
                                For Rent
                            </div>
                            {% elif property.property_status == "For Sale" %}
                            <div class="aa-tag for-sale">
                                For Sale
                            </div>
                            {% elif property.property_status == "Sold Out" %}
                            <div class="aa-tag sold-out">
                                Sold Out
                            </div>
                            {% endif %}
                            <div class="aa-properties-item-content">
                                <div class="aa-properties-info">
                                    <span>
                                        {% if property.property_rooms > 0 %}
                          {{ property.property_rooms }} Rooms
                      {% endif %}
                                    </span>
                                    <span>Owner: {{ property.property_owner }}</span>
                                    <span>{{ property.property_square_meters }} SQR MTRS</span>
                                </div>
                                <div class="aa-properties-about">
                                    <h3>
                                        <a href="{% url 'property_details' property.id %}"> {{ property.property_title }}</a>
                                    </h3>
                                    <p>{{ property.property_description }}</p>
                                </div>
                                <div class="aa-properties-detial">
                                    <span class="aa-price">
                                        $ {{ property.property_price }}
                                    </span>
                                    <a href="{% url 'property_details' property.id %}" class="aa-secondary-btn">View Details</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- / Latest property -->
        <!-- Service section -->
        <section id="aa-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-service-area">
                            <div class="aa-title">
                                <h2>{% trans "Our Services" %}</h2>
                                <span></span>
                                <p>Below are the services offered by BuyRentGlobal.Com</p>
                            </div>
                            <!-- service content -->
                            <div class="aa-service-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-home"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Property Sale</a>
                                                </h4>
                                                <p>Quickly post your property and get a match that is close to you!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Property Rent</a>
                                                </h4>
                                                <p>Looking to rent out your property? BuyRentGlobal has you covered!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-crosshairs"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Property Development</a>
                                                </h4>
                                                <p>Real Estate Developers also have a special place as we allow them to post continuously developed properties like apartments and homes.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-bar-chart-o"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4>
                                                    <a href="#">Client Approach</a>
                                                </h4>
                                                <p>BuyRentGlobal offers client approach by giving property owners the privelege of knowing which client is a potential match for their properties.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Service section -->
        <!-- / Client brand -->
        <!-- <section id="aa-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>{% trans "Get your inspiration for the next property listing or purchase" %}</h2>
              <span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe magni, est harum repellendus. Accusantium, nostrum!</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt="img"></a>
                      <span class="aa-date-tag">15 April, 16</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                      <div class="aa-blog-single-bottom">
                        <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                        <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                      </div>
                    </div>
                   
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt="img"></a>
                      <span class="aa-date-tag">15 April, 16</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                      <div class="aa-blog-single-bottom">
                        <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                        <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                      </div>
                    </div>                   
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="{% static 'img/slider/1.jpg' %}" alt="img"></a>
                      <span class="aa-date-tag">15 April, 16</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                      <div class="aa-blog-single-bottom">
                        <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                        <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                      </div>
                    </div>                   
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
    <section id="aa-latest-blog">
        <div class="container ">
        <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <p class="ing">Q: What is Lorem Ipsum?</p>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <p class="ing">Q: Why do we use it?</p>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <p class="ing">Q: Where does it come from?</p>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <p class="ing">Q: Where can I get some?</p>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>
    </section>
        
    <style>
        .ing {
            cursor: pointer;
        }
    </style>
{% endblock content %}
