{% load static %}
{% include "includes/css.html" %}
<body>
  <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <h1>LOGIN TO YOUR ACCOUNT</h1>
                <a class="lead" href="{% url 'home' %}">Head back Home</a>
                <p class="display-1">Login and check out latest properties</p>
              </div>
              {% if error %}
                <p class="lead text-center" style="color: red;"> {{ error }}</p>
              {% endif %}
              <form class="contactform" method="POST" action="{% url 'login' %}"> 
              {% csrf_token %}                                                
                <div class="aa-single-field">
                  <label for="email">Username <span class="required">*</span></label>
                  <input type="text" required="required" aria-required="true" value="" name="username">
                </div>
                <div class="aa-single-field">
                  <label for="password">Password <span class="required">*</span></label>
                  <input type="password" name="password"> 
                </div>
                <div class="aa-single-field">
                <label>
                  <input name="remember" type="checkbox"> Remember me
                </label>                                                          
                </div> 
                <p class="lead text-center">
                    Don't have an account? Head over to the <a style="color: black;" href="#"> Registration Page </a>
                </p>
                <div class="aa-single-submit">
                  <input type="submit" value="Login" class="aa-browse-btn" name="submit">  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "includes/scripts.html" %}