{% extends "base.html" %}
{% load countries %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<title>{% block title %} {{ block.super }} | UID: {{ request.user.id }} - {{ request.user.username }}{% endblock title %}</title>
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>My Profile</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="active"> {{ request.user | capfirst }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<body class="w3-light-grey">
    {% if messages %}
            {% for message in messages %}
                <p style="colo:green;" class="alert">{{ message }}</p>
            {% endfor %}
    {% endif %} 

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  
  <!-- The Grid -->
  <div class="w3-row-padding">
  <h2 class="w3-text-grey w3-padding-16 text-center">My Profile</h2>
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
        {% if user.profile.profile_picture %}
          <img src="{{ user.profile.profile_picture.url }}" style="width:100%" alt="Avatar">
        {% else %}
          <img src="{% static 'img/default.jpg' %}" style="width:100%" alt="Avatar">
        {% endif %}  
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>{{ request.user.username | capfirst }}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Registered As: {{ request.user.profile.registered_as }}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Names: {{ request.user.first_name }} {{ request.user.last_name }} </p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: {{ request.user.email }}</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: {{ request.user.profile.phone_number }}</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>My Information</b></p>
          <p>Registered Date: {{ request.user.date_joined }}</p>
          <p>Country: {{ request.user.profile.country }}</p>
          <p>Region: {{ request.user.profile.region }}</p>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>My Ratings</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div>
          <p>German</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">Edit My Profile</h2>
        <div class="w3-container">
        <h4 class="w3-opacity"><b>Personal Details</b></h4><hr>
        <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data" onsubmit="validCheck()">
        {% csrf_token %}
        <div class="col-sm-6">
        <h5 class="w3-text-teal"><b>Email</b></h5>
            <p class="w3-text-grey"> {{ request.user.email }} <span class="badge">unchangable</span></p>
        </div>
        <div class="col-sm-6">
          <h5 class="w3-text-teal"><b>Username</b></h5>
            <p class="w3-text-grey"> {{ request.user.username }} <span class="badge">unchangable</span></p>
        </div>
          <div class="col-sm-6">
          <h5 class="w3-text-teal"><b>First Name</b></h5>
              <p class="w3-text-grey">Current First Name: <strong>{{ request.user.first_name }}</strong></p>
          </div>
          <div class="col-sm-6">
          <h5 class="w3-text-teal"><b>Last Name</b></h5>
              <p class="w3-text-grey">Current Last Name: <strong>{{ request.user.last_name }}</strong></p>
          </div>
          <div class="col-sm-6">
          <h5 class="w3-text-teal"><b>Phone Number</b></h5>
              <p class="w3-text-grey">Current Phone Number:
              {% if request.user.profile.phone_number %}
                <p class="w3-text-teal">{{ request.user.profile.phone_number }}</p>
              {% else %}
                <p class="w3-text-teal">Not Set</p>
              {% endif %}
              </p>
              {{ profile_form.phone_number | as_crispy_field }}
              {% comment "" %}
               <input name="phone_number" type="text" id="phone" class="form-control" value="{% if request.user.profile.phone_number %}{{ request.user.profile.phone_number }}{% endif %}"/>    
              {% endcomment %}
          </div>
          <div class="col-sm-6">
          <h5 class="w3-text-teal"><b>Profile Picture</b></h5>
          {% if request.user.profile.profile_picture %}
              {{ profile_form.profile_picture | attr:"value:request.user.profile.profile_picture" }}
          {% else %}
            {{ profile_form.profile_picture | as_crispy_field }}
          {% endif %}
          
            {% comment "" %}
            <input type="file" name="profile_picture" id="profile_picture" value="{% if request.user.profile.profile_picture.url %}{{ request.user.profile.profile_picture.url }}{% endif %}"/>
            {% endcomment %}
        </div>
        <div class="w3-container">
        <h4 class="w3-opacity"><b>My Location</b></h4>
        <div class="col-sm-12">
        
          <h5 class="w3-text-teal"><b>Country and City</b></h5>
          {% if request.user.profile.country %}
            <p class="w3-text-grey">Current: <p class="w3-text-teal">{{ request.user.profile.country }}</p></p>
          {% else %}
            <p class="w3-text-teal">Current Country and City: <strong style="color:red;">Not Set!</strong></p>
          {% endif %}
          {{ profile_form.country | as_crispy_field }}
          {% comment "" %}
          <input type="text" name="country" id="countryInput" class="form-control" value="{% if request.user.profile.country %}{{ request.user.profile.country }}{% endif %}"/>
          {% endcomment %}
          </div>
          <div class="col-sm-6">
            <h5 class="w3-text-teal"><b>Region</b></h5>
            {% if request.user.profile.region %}
              <p class="w3-text-grey">Current: <p class="w3-text-teal">{{ request.user.profile.region }}</p></p>
            {% else %}
            <p class="w3-text-grey">Current Region: <strong style="color:red;">Not Set!</strong></p>
            {% endif %}
            {{ profile_form.region | as_crispy_field }}
            {% comment %}
                  <input type="text" name="region" class="form-control" value="{% if request.user.profile.region %}{{ request.user.profile.region }}{% endif %}"/>
            {% endcomment %}
            
          </div><hr>
          <div class="col-sm-6">
            <h5 class="w3-text-teal"><b>Registered As</b></h5>
            {% if request.user.profile.registered_as %}
              <p class="w3-text-grey">{{ request.user.profile.registered_as }}</p>
            {% else %}
              <p class="w3-text-grey">Current: <strong style="color:red;">Not Set!</strong></p>
              <select id="regList" onchange="regFunc()" class="form-control col-sm-2">
              <option>--Registering As--<option>
              <option>Agent</option>
              <option>Real Estate Developer</option>
              <option>Auctioneer</option>
              <option>Client</option>
              <option>Other</option>
              </select>
              {{ profile_form.registered_as | as_crispy_field }}
              <style>
                #id_registered_as {
                  display: none;
                }
              </style>
              {% comment %} <input type="text" name="registered_as" id="regInput" class="form-control col-sm-2" style="display: none;" value="{{ request.user.profile.registered_as }}"/> {% endcomment %}
              <script>
                function regFunc() {
                  var regList = document.getElementById("regList");
                  var regInput = document.getElementById("id_registered_as");
                  if (regList.options[regList.selectedIndex].text == "Other") {
                    regInput.style.display = "block";
                    regInput.value = '';
                    regInput.placeholder='Please Specify your Specialization';
                  }
                  if(regList.options[regList.selectedIndex].text != "Other") {
                    regInput.style.display = "none";
                    regInput.value = regList.options[regList.selectedIndex].text;
                  }
                }
              </script>
            {% endif %}
            
          </div>
          <div class="col-sm-12" style="padding-top: 20px">
            <input type="submit" class="btn btn-success" name="submit" value="Accept Changes and Save Profile">
          </div>
          </form>
          <div class="col-sm-12" style="padding-top: 20px">
            <p>Other sensitive information is only changable by contacting the admin.</p>
          </div>
          <hr>
        </div>
        <div class="w3-container">
        <h4 class="w3-opacity"><b>Account Status</b></h4><hr>
          <h5 class="w3-text-teal"><b>Active
          {% if request.user.is_active %}
            <i class="fa fa-check" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-times" aria-hidden="true"></i>
          {% endif %}</b></h5>
          <h5 class="w3-text-teal"><b>Authenticated
          {% if request.user.is_authenticated %}
            <i class="fa fa-check" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-times" aria-hidden="true"></i>
          {% endif %}</b></h5>
          <h6 class="w3-text-teal">Authentication Time: {{ request.user.last_login }}</h6>
          <p></p><br>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script src="{% static 'js/intlTelInput-jquery.min.js' %}"></script>
<script>
  var idPhoneNumber = document.querySelector("#id_phone_number");
  window.intlTelInput(idPhoneNumber, ({
    allowDropdown: true,
  }));
</script>
<script>
        let autocomplete;
        function initMap() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('id_country'),
                {
                    types: ['geocode'],
                    componentRestrictions: {},
                    fields: ['name', 'cities']
                }
            );
        }
    </script>
    <script async="false"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWVR_xo7GaYDBJ6nKIIatjTtqds6aeVbA&libraries=places&callback=initMap">
    </script>
    <script>
      const phoneInputField = document.querySelector("#id_phone_number");
      const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        initialCountry: "auto",
        autoHideDialCode: false,
        nationalMode: false,
      });
 </script>
 <script>
  function validCheck() {
        var phone = document.getElementById("phone");
        var profilePicture = document.getElementById("profile_picture");
        var country = document.getElementById("countryInput");
        var region = document.getElementById("region");
        var regInput = document.getElementById("regInput");

        if (phone.value == "") {
          phone.value = {{ request.user.profile.phone_number }};
        }

        if (profilePicture.files.length == 0) {
          profilePicture.files = "{{ user.profile.profile_picture.url }}";
        }

        if (country.value == "") {
          country.value = "{{ request.user.profile.country }}";
        } 
        if (region.value == "") {
          region.value = "{{ request.user.profile.region }}";
        }
        if (regInput == "") {
          regInput.value = "{{ request.user.profile.registered_as }}";
        } 
  }
 </script>
</body>
{% endblock content %}