{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>My Properties</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">HOME</a>
                        </li>
                        <li class="active">MY PROPERTIES</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
      <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">
            <!-- start properties content head -->
            {% if delete_message %}
            <div id="info-message">
              <p style="color:green;" class="text-center alert alert-success">{{ delete_message }}</p>
            </div>
            {% endif %}
            <div class="aa-properties-content-head">              
              <div class="aa-properties-content-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sort by</label>
                  <select name="">
                    <option value="1" selected="Default">Default</option>
                    <option value="2">Name</option>
                    <option value="3">Price</option>
                    <option value="4">Date</option>
                  </select>
                </form>
                <form action="" class="aa-show-form">
                  <label for="">Show</label>
                  <select name="">
                    <option value="1" selected="12">6</option>
                    <option value="2">12</option>
                    <option value="3">24</option>
                  </select>
                </form>
              </div>
              <div class="aa-properties-content-head-right">
                <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
              </div>            
            </div>
            <!-- Start properties content body -->
            <hr>
            <h2> My Properties</h2>
            <hr>
            {% if property_check == 0 %}
              <p class="text-center"> No Properties! Click <a href="{% url 'add_property' %}">here</a> to add.</p>
            {% endif %}
            <div class="aa-properties-content-body">
              <ul class="aa-properties-nav">
              {% for my_property in my_properties %}
                <li>
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="{% url 'property_details' my_property.id %}">
                      <img alt="img" width="100px" height="230px" src="{{ my_property.property_pic1.url }}">
                    </a>
                    {% if my_property.property_status == "For Rent" %}
                        <div class="aa-tag for-rent">
                            For Rent
                        </div>
                    {% elif my_property.property_status == "For Sale" %}
                        <div class="aa-tag for-sale">
                            For Sale
                        </div>
                    {% elif my_property.property_status == "Sold Out" %}
                        <div class="aa-tag sold-out">
                            Sold Out
                        </div>
                    {% endif %}
                    
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>
                        {% if my_property.property_rooms > 0 %}
                            {{ my_property.property_rooms }} Room(s) {% else %}
                            No rooms
                        {% endif %}
                        </span>
                        <span>Owner: {{ my_property.property_owner }}</span>
                        <span>{{ my_property.property_square_meters }} SQR MTRS</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="{% url 'property_details' my_property.id %}">{{ my_property.property_title }}</a></h3>
                        <p> {{ my_property.property_description }}</p>                      
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          $ {{ my_property.property_price }}
                        </span>
                        <a class="aa-secondary-btn" href="{% url 'property_details' my_property.id %}">View Details</a>
                        <a class="aa-secondary-btn" style="background-color:red;" href="{% url 'delete_property' my_property.id %}">Delete Property</a>
                      </div>
                    </div>
                  </article>
                </li>
              {% endfor %}
              </ul>
            </div>
      </div>
    </div>
  </section>
</div>
    <script>
      setTimeout(function(){
      $('#info-message').remove();
        }, 3000);
    </script>
{% endblock content %}
