{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load social_share %}

{% block content %}
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2> {{ properties.property_title }}</h2>
            <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">HOME</a></li>            
            <li class="active">{{ properties.property_title }}</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
            
            <hr>
             <div class="aa-properties-details-img">
               <img src="{{ properties.property_pic1.url }}" alt="img">
               <img src="{{ properties.property_pic2.url }}" alt="img">
               <img src="{{ properties.property_pic3.url }}" alt="img">
             </div>
             
             <div class="aa-properties-info">
             <h2> {{ properties.property_title }} </h4>
               <h4>Price: {{ properties.property_price }}</h5><hr>
               {% if properties.property_rooms != 0 %}
               <p class="col-sm-2">Bedrooms: <i class="fa fa-bed" aria-hidden="true"></i> {{ properties.property_rooms }}</p>
               {% endif %}
               {% if properties.property_bathroom != 0 %}
               <p class="col-sm-2">SQR Meters:<i class="fa fa-table" aria-hidden="true"></i> {{ properties.property_bathroom }}</p>
               {% endif %}
               <div class="col-sm-12">
               <h4>Property Description</h4>
               <p>{{ properties.property_about }}</p>
               <h4>Propery Features</h4>
               <ul>
                 {% if properties.kitchen == True %}
                  <div class="col-sm-4">
                    <li>Kitchen: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.air_condition == True %}
                  <div class="col-sm-4">
                    <li>Air Condition: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.balcony == True %}
                  <div class="col-sm-4">
                    <li>Kitchen: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.gym == True %}
                  <div class="col-sm-4">
                    <li>Gym: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.garden == True %}
                  <div class="col-sm-4">
                    <li>Garden: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.cctv == True %}
                  <div class="col-sm-4">
                    <li>CCTV: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.playground == True %}
                  <div class="col-sm-4">
                    <li>Playground: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.furnished == True %}
                  <div class="col-sm-4">
                    <li>Furnished: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.parking == True %}
                  <div class="col-sm-4">
                    <li>Parking: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
               </ul>
               </div>
               <br>
               <div class="col-sm-12">
               <h4>Propery Features</h4>
               <ul>
                 {% if properties.school == True %}
                  <div class="col-sm-4">
                    <li>School: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.hospital == True %}
                  <div class="col-sm-4">
                    <li>Hospital: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.borehole == True %}
                  <div class="col-sm-4">
                    <li>Borehole: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.bus_stop == True %}
                  <div class="col-sm-4">
                    <li>Bus Stop: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.internet_service_provider == True %}
                  <div class="col-sm-4">
                    <li>Internet Service Provider: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.bank == True %}
                  <div class="col-sm-4">
                    <li>Bank: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.mall == True %}
                  <div class="col-sm-4">
                    <li>Mall: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.shops == True %}
                  <div class="col-sm-4">
                    <li>Shops: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
                 {% if properties.main_road == True %}
                  <div class="col-sm-4">
                    <li>Main Road: <i class="fa fa-check" aria-hidden="true"></i></li>
                  </div>
                 {% endif %}
               </ul>
               </div>
               </div>
             <!-- Properties social share -->
             <div class="aa-properties-social">
               <ul>
                 <li>Share</li><hr>
                 {% post_to_facebook request.get_full_path ' Post to Facebook' 'fa fa-facebook btn-lg btn-primary text-center' %}<hr>
                 {% post_to_twitter request.get_full_path ' Post to Twitter' ' Tweet to Twitter' 'fa fa-twitter btn-lg btn-primary text-center' %}<hr>
               </ul>
             </div>
             <!-- Nearby properties -->
             <div class="aa-nearby-properties">
               <div class="aa-title">
                 <h2>Nearby Properties</h2>
                 <span></span>
               </div>
               <div class="aa-nearby-properties-area">
                 <div class="row">
                 {% for nearby_property in nearby_properties %}
                   <div class="col-md-6">
                     <article class="aa-properties-item">
                      <a class="aa-properties-item-img" href="#">
                        <img alt="img" src="{{ nearby_property.property_pic1.url }}">
                      </a>
                      {% if nearby_property.property_status == "For Rent" %}
                        <div class="aa-tag for-rent">
                            For Rent
                        </div>
                    {% elif nearby_property.property_status == "For Sale" %}
                        <div class="aa-tag for-sale">
                            For Sale
                        </div>
                    {% elif nearby_property.property_status == "Sold Out" %}
                        <div class="aa-tag sold-out">
                            Sold Out
                        </div>
                    {% endif %}
                      <div class="aa-properties-item-content">
                        <div class="aa-properties-info">
                          <span>{{ nearby_property.property_rooms }} Room(s)</span>
                          <span>Owner: {{ nearby_property.property_owner }}</span>
                          <span>SQR MTRS{{ nearby_property.property_square_meters }}</span>
                        </div>
                        <div class="aa-properties-about">
                          <h3><a href="#">{{ nearby_property.property_title }}</a></h3>
                          <p>{{ nearby_property.property_intro }}</p>                      
                        </div>
                        <div class="aa-properties-detial">
                          <span class="aa-price">
                            {{ nearby_property.property_price }}
                          </span>
                          <a class="aa-secondary-btn" href="{% url 'property_details' nearby_property.id %}">View Details</a>
                        </div>
                      </div>
                    </article>
                   </div>
                   {% endfor %}
                 </div>
               </div>

             </div>

            </div>           
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="aa-properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h2 class="lead">Property Information</h2>
              <h6 class="lead"><i class="fa fa-user" aria-hidden="true"></i> {{ properties.property_posted_by }}: {{ properties.property_owner | capfirst }}</h6>
              <h6 class="lead"><i class="fa fa-calendar" aria-hidden="true"></i> Posted: {{ properties.property_post_date | naturaltime }}</h6>
              <h6 class="lead"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{ properties.property_location }}</h6>
              <h6 class="lead"><i class="fa fa-building" aria-hidden="true"></i> Condition: {{ properties.property_condition }}</h6>
              <h6 class="lead"><i class="fa fa-check" aria-hidden="true"></i> Status: {{ properties.property_status }}</h6>
              <h6 class="lead"><i class="fa fa-eye" aria-hidden="true"></i> Views: {{ views }}</h6>
              {% if request.user.is_authenticated %}
                <button class="btn btn text-center" data-toggle="collapse" data-target="#demo" style="width: 200px">View Contact</button></p>
                <div id="demo" class="collapse">
                <hr/><i class="fa fa-phone" aria-hidden="true"></i> <p class="badge"> Phone: {{ properties.property_owner.profile.phone_number }}</p><hr/>
                </div>
                <button class="btn btn text-center" data-toggle="collapse" data-target="#demo2" style="width: 200px">View Email</button></p>
                <div id="demo2" class="collapse">
                <hr/><i class="fa fa-reply-all" aria-hidden="true"></i><p class="badge"> Email: <a href="mailto:{{ properties.property_owner.emai }}">{{ properties.property_owner.email }}</a></p> <br><hr/>
                </div>
                <button id="myBtn" class="btn btn text-center" style="width: 200px">Review this Service</button>
              {% else %}
                <button class="btn btn text-center" style="width: 300px"><a href="{% url 'login' %}">Login to View Contact and Email</a></button></p>
              {% endif %}
              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span><hr>
                    <div style="text-align:center;">
                      <h2 class="lead">
                        <i class="fa fa-star"></i>
                      </h2>
                      <h2>Rate this Service</h2><hr>
                      <form action="{% url 'review' %}" method="POST">
                      {% csrf_token %}
                        <h6 class="lead">Posting review as: {{ request.user | capfirst }}</h6>
                        <h6 class="lead">Leave a review for {{ properties.property_owner | capfirst }}'s Services.</h6>
                        <p>Please note that every review passes through a quality check. Reviews aiming at tarnishing the name of the property lister will be handled serverly.</p>
                        <input type="hidden" name="reviewed_user" value="{{ properties.property_owner }}" />
                        <input type="hidden" name="date_reviewed" />
                        <div class="stars">
                          <input class="star star-5" id="star-5" type="radio" value="1.0" name="rating_reviewed"/>
                            <label class="star star-5" for="star-5"></label>
                          <input class="star star-4" id="star-4" type="radio" value="2.0" name="rating_reviewed"/>
                            <label class="star star-4" for="star-4"></label>
                          <input class="star star-3" id="star-3" type="radio" value="3.0" name="rating_reviewed"/>
                            <label class="star star-3" for="star-3"></label>
                          <input class="star star-2" id="star-2" type="radio" value="4.0" name="rating_reviewed"/>
                            <label class="star star-2" for="star-2"></label>
                          <input class="star star-1" id="star-1" type="radio" value="5.0" name="rating_reviewed"/>
                            <label class="star star-1" for="star-1"></label>
                          <hr>
                          <label for="">Additional Comment</label>
                          <hr>
                            <textarea class="form-control" name="comment_reviewed" rows="3" cols="4" placeholder="Optional"></textarea>
                          <hr>
                          <input class="aa-secondary-btn" type="submit" value="Submit Review"/>
                      </div>
                      </form>
                  </div>
                </div>

              </div>
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
            <hr/>
              <h3 style="color:red">Safety Tips</h3>
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading">CAUTION</h4>
                  <p>Beware of Agents and Lister posing as property dealers!</p>                
                  <span>Be sure to meet and discuss property details with the lister personally before initating any payments.</span>
                </div>              
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
