{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2> {{ properties.property_title }}</h2>
            <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">HOME</a></li>            
            <li class="active">APARTMENT TITLE</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
            <h2 style="text-align: center;"> {{ properties.property_title }} </h2>
            <hr>
             <div class="aa-properties-details-img">
               <img src="{{ properties.property_pic1.url }}" alt="img">
               <img src="{{ properties.property_pic2.url }}" alt="img">
               <img src="{{ properties.property_pic3.url }}" alt="img">
             </div>
             <div class="aa-properties-info">
               <span class="aa-price">Price ${{ properties.property_price }}</span>
               <h4>Property Introduction</h4>
               <p>{{ properties.property_description }}
               <h4>Property Description</h4>
               <p>{{ properties.property_about }}</p>
               <h4>Propery Features</h4>
               <ul>
                 <li>Kitchen: {{ properties.kitchen }}</li>
                 <li>3 Baths</li>
                 <li>Kitchen</li>
                 <li>Air Condition</li>
                 <li>Belcony</li>
                 <li>Gym</li>
                 <li>Garden</li>
                 <li>CCTV</li>
                 <li>Children Play Ground</li>
                 <li>Comunity Center</li>
                 <li>Security System</li>
               </ul>
               </div>
             <!-- Properties social share -->
             <div class="aa-properties-social">
               <ul>
                 <li>Share</li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
               </ul>
             </div>
             <!-- Nearby properties -->
             <div class="aa-nearby-properties">
               <div class="aa-title">
                 <h2>Nearby Properties</h2>
                 <span></span>
               </div>
               <div class="aa-nearby-properties-area">
                 <div class="row">
                   <div class="col-md-6">
                     <article class="aa-properties-item">
                        <a class="aa-properties-item-img" href="#">
                          <img alt="img" src="{% static 'img/item/1.jpg' %}">
                        </a>
                        <div class="aa-tag for-sale">
                          For Sale
                        </div>
                        <div class="aa-properties-item-content">
                          <div class="aa-properties-info">
                            <span>5 Rooms</span>
                            <span>2 Beds</span>
                            <span>3 Baths</span>
                            <span>1100 SQ FT</span>
                          </div>
                          <div class="aa-properties-about">
                            <h3><a href="#">Appartment Title</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                          </div>
                          <div class="aa-properties-detial">
                            <span class="aa-price">
                              $35000
                            </span>
                            <a class="aa-secondary-btn" href="#">View Details</a>
                          </div>
                        </div>
                      </article>
                   </div>
                   <div class="col-md-6">
                     <article class="aa-properties-item">
                      <a class="aa-properties-item-img" href="#">
                        <img alt="img" src="{% static 'img/item/2.jpg' %}">
                      </a>
                      <div class="aa-tag for-sale">
                        For Sale
                      </div>
                      <div class="aa-properties-item-content">
                        <div class="aa-properties-info">
                          <span>5 Rooms</span>
                          <span>2 Beds</span>
                          <span>3 Baths</span>
                          <span>1100 SQ FT</span>
                        </div>
                        <div class="aa-properties-about">
                          <h3><a href="#">Appartment Title</a></h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                        </div>
                        <div class="aa-properties-detial">
                          <span class="aa-price">
                            $35000
                          </span>
                          <a class="aa-secondary-btn" href="#">View Details</a>
                        </div>
                      </div>
                    </article>
                   </div>
                 </div>
               </div>

             </div>

            </div>           
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="aa-properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h2 class="lead">Property Information</h2>
              <h6 class="lead"><i class="fa fa-user" aria-hidden="true"></i> Owner: {{ properties.property_owner | capfirst }}</h6>
              <h6 class="lead"><i class="fa fa-calendar" aria-hidden="true"></i> Posted: {{ properties.property_post_date | naturaltime }}</h6>
              <h6 class="lead"><i class="fa fa-phone" aria-hidden="true"></i> Contact</h6>
              <h6 class="lead"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{ properties.property_location }}</h6>
              <h6 class="lead"><i class="fa fa-building" aria-hidden="true"></i> Condition: {{ properties.property_condition }}</h6>
              <h6 class="lead"><i class="fa fa-check" aria-hidden="true"></i> Status: {{ properties.property_status }}</h6>
              <h6 class="lead"><i class="fa fa-eye" aria-hidden="true"></i> Views: {{ views }}</h6>
              <button id="myBtn" class="aa-secondary-btn">Review this Service</button>
              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span><hr>
                    <div style="text-align:center;">
                      <h2 class="lead">
                        <i class="fa fa-star"></i>
                      </h2>
                      <h2>Rate this Service</h2><hr>
                      <form action="{% url 'review' %}" method="POST">
                      {% csrf_token %}
                        <h6 class="lead">Posting review as: {{ request.user | capfirst }}</h6>
                        <h6 class="lead">Leave a review for {{ properties.property_owner | capfirst }}'s Services.</h6>
                        <p>Please note that every review passes through a quality check. Reviews aiming at tarnishing the name of the property lister will be handled serverly.</p>
                        <input type="hidden" name="reviewed_user" value="{{ properties.property_owner.username }}" />
                        <input type="hidden" name="date_reviewed" />
                        <div class="stars">
                          <input class="star star-5" id="star-5" type="radio" value="1" name="rating_reviewed"/>
                            <label class="star star-5" for="star-5"></label>
                          <input class="star star-4" id="star-4" type="radio" value="2" name="rating_reviewed"/>
                            <label class="star star-4" for="star-4"></label>
                          <input class="star star-3" id="star-3" type="radio" value="3" name="rating_reviewed"/>
                            <label class="star star-3" for="star-3"></label>
                          <input class="star star-2" id="star-2" type="radio" value="4" name="rating_reviewed"/>
                            <label class="star star-2" for="star-2"></label>
                          <input class="star star-1" id="star-1" type="radio" value="5" name="rating_reviewed"/>
                            <label class="star star-1" for="star-1"></label>
                          <hr>
                          <label for="">Additional Comment</label>
                          <hr>
                            <textarea class="form-control" name="comment_reviewed" rows="3" cols="4" placeholder="Optional"></textarea>
                          <hr>
                          <input class="aa-secondary-btn" type="submit" value="Submit Review"/>
                      </div>
                      </form>
                  </div>
                </div>

              </div>
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h3>Safety Tips</h3>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="{% static 'img/item/1.jpg' %}" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Safety Tips</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
