<!DOCTYPE html>
<html lang="en">
{% load i18n %}
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Buy Rent Global | {% trans "Home" %}</title>
    
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    {% include "includes/css.html" %}
  </head>
  <body class="aa-price-range">  
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <header id="aa-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
          {% if request.user.is_authenticated %}
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-user"></span>
                    {{ user.first_name }} {{ user.last_name }}
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span> {{ user.email }}
                  </div>
                </div>              
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <a href="{% url 'my_properties' %}" class="aa-register">{% trans "My Properties" %}</a>
                  <a href="{% url 'properties' %}" class="aa-login">{% trans "Check out properties" %}</a>
                  <a href="{% url 'logout' %}" class="aa-login badge">{% trans "Logout" %}</a>
                  <a href="{% url 'my_profile' %}" class="aa-login badge">{% trans "My Profile" %}</a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span>
                    1-900-523-3564
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span> info@markups.com
                  </div>
                </div>              
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <a href="{% url 'register' %}" class="aa-register">{% trans "Register" %}</a>
                  <a href="{% url 'login' %}" class="aa-login">{% trans "Login" %}</a>
                </div>
              </div>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand aa-logo-img" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
               <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">CURRENCY <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="">USD</a></li>
                <li><a href="">KES</a></li>                                            
              </ul>
            </li>
            <li><a href="gallery.html">FAQs</a></li>                                         
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">{% trans "LANGUAGE" %} <span class="caret"></span></a>
            </li>
            <li><a href="{% url 'contact' %}">{% trans "CONTACT" %}</a></li>
            <li><a href="{% url 'blogs' %}">{% trans "BLOGS" %}</a></li>
            <li><a href="{% url 'for_rent' %}">{% trans "FOR RENT" %}</a></li>
            <li><a href="{% url 'for_sale' %}">{% trans "FOR SALE" %}</a></li>
          </ul>                            
        </div>    
      </div>          
    </nav> 
  </section>

{% block content %}


{% endblock content %}

  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>{% trans "Designed by TL" %}</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">{% trans "Home" %}</a>
                <a href="#">{% trans "Support" %}</a>
                <a href="#">{% trans "License" %}</a>
                <a href="#">{% trans "FAQ" %}</a>
                <a href="#">{% trans "Privacy & Term" %}</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  {% include "includes/scripts.html" %}
  </body>
</html>