{% load i18n %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5G2CS24');</script>
  <!-- End Google Tag Manager -->
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Buy Rent Global | {% trans "Home" %}</title>
    
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    {% include "includes/css.html" %}
  </head>
  <body class="aa-price-range">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G2CS24"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->


  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand aa-logo-img" href="{% url 'home' %}"><img src="{% static 'img/new.png' %}" alt="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">PROPERTIES <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="{% url 'for_rent' %}">{% trans "FOR RENT" %}</a></li>
                <li><a href="{% url 'for_sale' %}">{% trans "FOR SALE" %}</a></li>                                           
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">CURRENCY <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="">USD</a></li>
                <li><a href="">KES</a></li>                                            
              </ul>
            </li>  
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">LANGUAGE <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href=""><img width="15px" height="15px" src="{% static 'img/united-kingdom.png' %}"> ENGLISH</a></li>
                <li><a href=""><img width="15px" height="15px" src="{% static 'img/france.png' %}"> FRANCE</a></li> 
                <li><a href=""><img width="15px" height="15px" src="{% static 'img/italy.png' %}"> ITALIAN</a></li>                                             
              </ul>
            </li>
            {% if request.user.is_authenticated == False %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">ACCOUNTS <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a href="{% url 'register' %}">REGISTER</a></li> 
              </ul>
            </li> 
            {% endif %}                                   
            <!--
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">{% trans "LANGUAGE" %} <span class="caret"></span></a>
            </li>
            -->
            {% if request.user.is_authenticated == False %}
              <li><a href="{% url 'register' %}" style="background-color: #5d817e; border-radius: 20px; color: white;">{% trans "LIST YOUR PROPERTY" %}</a></li>
            {% endif %}
          {% if request.user.is_authenticated %}
            <li class="dropdown" style="background-color: #5d817e; border-radius: 20px; color: white;">
              <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">{{ request.user | capfirst }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="{% url 'my_profile' %}"><i class="fa fa-user" aria-hidden="true"></i> MY PROFILE</a></li>
                <li><a href="{% url 'my_properties' %}"><i class="fa fa-building" aria-hidden="true"></i> MY PROPERTIES</a></li>  
                <li><a href="{% url 'add_property' %}"><i class="fa fa-plus" aria-hidden="true"></i> LIST PROPERTY</a></li> 
                <li><a href="{% url 'properties' %}"><i class="fa fa-list" aria-hidden="true"></i> CHECK OUT PROPERTIES</a></li>
                <hr> 
                <li><a href="{% url 'reset_password' %}"><i class="fa fa-refresh" aria-hidden="true"></i> PASSWORD RESET</a></li>  
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>                                        
              </ul>
            </li>
          {% endif %}
          </ul>                            
        </div>    
      </div>          
    </nav> 
  </section>

{% block content %}


{% endblock content %}

  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>{% trans "Designed by TL" %}</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="{% url 'home' %}">{% trans "Home" %}</a>
                <a href="{% url 'contact' %}">{% trans "Support" %}</a>
                <a href="{% url 'terms_and_conditions' %}">{% trans "Privacy & Term" %}</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  {% include "includes/scripts.html" %}
  </body>
</html>
