{% load static %}
{% include "includes/css.html" %}
<body>
  <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <h1>RESET DETAILS SENT!</h1>
              </div>
                <p class="lead text-center">
                    Check your email for the reset details.
                </p>
                <p class="lead text-center">
                    Not on the right page? Head back <a href="{% url 'home' %}"><strong>home</strong>.</a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "includes/scripts.html" %}