{% load static %}
{% include "includes/css.html" %}
<body>
  <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <h1>PASSWORD COMPLETE!</h1>
              </div>
                <p class="lead text-center">
                    Your password has been successfully reset!
                </p>
                <p class="lead text-center">
                    Login <a href="{% url 'login' %}"><strong>here</strong>.</a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "includes/scripts.html" %}