{% load static %}
{% include "includes/css.html" %}
<body>
  <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <h1>RESET YOUR PASSWORD</h1>
              </div>
              <form class="contactform" method="POST"> 
              {% csrf_token %}
                <p class="text-danger">{{ form.errors }}</p>
                <input class="hidden" autocomplete="username" value="{{ request.user.username }}">                                             
                <div class="aa-single-field">
                  <label for="id_new_password1">Passowrd <span class="required">*</span></label>
                  <input type="password" required="required" aria-required="true" value="" name="new_password1" id="id_new_password1">
                </div>
                <div class="aa-single-field">
                  <label for="id_new_password2">Confirm Passowrd <span class="required">*</span></label>
                  <input type="password" required="required" aria-required="true" value="" name="new_password2" id="id_new_password1">
                </div>
                <p class="lead text-center">
                    Type your new password. Ensure it is memorable and secure.
                </p>
                <p class="lead text-center">
                    Not on the right page? Head back <a href="{% url 'home' %}"><strong>home</strong>.</a>
                </p>
                <div class="aa-single-submit">
                  <input type="submit" value="Submit" class="aa-browse-btn" name="submit">  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "includes/scripts.html" %}