{% load static %}
{% include "includes/css.html" %}
<body>
  <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <h1>RESET YOUR PASSWORD</h1>
              </div>
              <form class="contactform" method="POST"> 
              {% csrf_token %}                                                
                <div class="aa-single-field">
                  <label for="email">Email <span class="required">*</span></label>
                  <input type="email" required="required" aria-required="true" value="" name="email" id="id_email">
                </div>
                <p class="lead text-center">
                    Provide the email authenticated with your account.
                </p>
                <p class="lead text-center">
                    Not on the right page? Head back <a href="{% url 'home' %}"><strong>home</strong>.</a>
                </p>
                <div class="aa-single-submit">
                  <input type="submit" value="Submit" class="aa-browse-btn" name="submit">  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "includes/scripts.html" %}